discord.py
requests~=2.32.3
beautifulsoup4~=4.12.2
pytube~=15.0.0
mutagen
moviepy~=1.0.3
ffmpeg
eyed3~=0.9.7
pytest~=8.0.1
numpy~=1.26.4
# torch~=2.4.0
# transformers~=4.42.3
discord~=2.2.3
python-dotenv~=1.0.1
google-api-python-client